html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.overlay {
  position: absolute;
  opacity: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar {
  height: 10vh;
  background-color: #0000000f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 98px;
}

.navbar__menu {
  display: flex;
  margin-left: 350px;
}

.navbar__menu-items {
  font-size: 16px;
  margin: 1.3rem;
  padding: 1rem;
}

.highlight-text {
  cursor: pointer;
  font-weight: 500;
  color: #7ecb20;
}

.login-button {
  width: 110px;
  height: 50px;
  cursor: pointer;
  background: #7ecb20 0% 0% no-repeat padding-box;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.herosection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 141px;
}

.herosection__content {
  width: 80%;
}

.herosection__heading {
  font-size: 41px;
  margin: 30px 0;
}

.herosection__subheading {
  font-size: 26px;
  margin: 50px 0;
  opacity: 0.7;
}

.herosection__button {
  width: 236px;
  height: 53px;
  background: #7ecb20 0% 0% no-repeat padding-box;
  color: white;
  font-size: 24px;
  border-radius: 27px;
  opacity: 1;
}

/* ------------ Modal ------------ */

.button {
  border: none;
  background: #7ecb20 0% 0% no-repeat padding-box;
}

.main-modal {
  position: absolute;
  top: 112px;
  left: 0;
  right: 0;
  width: 676px;
  height: 577px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;

  z-index: 10;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.8rem;
  padding: 10px;
  border: none;
  color: darkgray;
  background-color: white;
  z-index: 12;
  opacity: 1;
}

.modal-back-button {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 2rem;
  padding: 10px;
  border: none;
  color: darkgray;
  background-color: white;
  z-index: 12;
  opacity: 1;
}

.modal-form {
  position: relative;
}

.modal-form-title {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font: normal normal 600 33px/44px Segoe UI;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.modal-form-subtitle {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font: normal normal normal 22px/30px Open Sans;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.modal-form-message {
  color: lightcoral;
}

.modal-form-button {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  width: 336px;
  height: 48px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  color: white;
  background: #7ecb20 0% 0% no-repeat padding-box;
  opacity: 1;
}

.signup-form {
  position: absolute;
  top: 175px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input {
  width: 336px;
  height: 38px;
  margin: 3px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.otp-form {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-form input {
  width: 367px;
  height: 63px;
  margin: 3px 0;
  border-radius: 32px;
  text-align: center;
  font: normal normal normal 22px/30px Segoe UI;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.otp-form-button {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  width: 367px;
  height: 57px;
  color: white;
  background: #7ecb20 0% 0% no-repeat padding-box;
  border-radius: 32px;
  opacity: 1;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  font-weight: 600;
}

.reset-form {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-form input {
  width: 336px;
  height: 38px;
  margin: 30px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.reset-form-button {
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  width: 336px;
  height: 48px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  color: white;
  background: #7ecb20 0% 0% no-repeat padding-box;
  opacity: 1;
}

.reset-otp-form {
  position: absolute;
  top: 175px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-otp-form input {
  width: 336px;
  height: 38px;
  margin: 3px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.success-screen {
  position: absolute;
  top: 175px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------ Side Panel ------------ */

.side-panel {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 418px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;

  z-index: 5;
}

.side-panel-content {
  position: relative;
  height: 100vh;
}

.login-form {
  position: absolute;
  top: 174px;
  left: 0;
  right: 0;
  width: 370px;
  height: 371px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}

.side-panel-title {
  position: absolute;
  top: 69px;
  left: 20px;
  width: 64px;
  height: 32px;
  text-align: center;
  font: normal normal bold 24px/32px Segoe UI;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.side-panel-close-button {
  position: absolute;
  top: 77px;
  right: 20px;
  font-size: 1.8rem;
  padding: 10px;
  border: none;
  color: darkgray;
  background-color: white;
  opacity: 1;
}

.login-form-title {
  text-align: center;
  font: normal normal 600 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #7ecb20;
}

.login-form-bar {
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid #7ecb20 1.9px;
}

.login-form input {
  width: 336px;
  height: 48px;
  margin: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 0.57;
}

.forgot-password-link {
  position: absolute;
  top: 168px;
  right: 20px;
  font: normal normal 600 15px/20px Segoe UI;
  letter-spacing: 0px;
  color: #7ecb20;
  cursor: pointer;
  opacity: 1;
}

.login-form-message {
  color: lightcoral;
}

.login-form-button {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  width: 336px;
  height: 48px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  color: white;
  background: #7ecb20 0% 0% no-repeat padding-box;
  opacity: 1;
}

.signup-link {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  cursor: pointer;
  text-align: center;
  font: normal normal 600 16px/21px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
